{% extends 'baseAdmin.html.twig' %}

{% block pagecontent %}
<div class="box box-info">
    <div class="box-header with-border">
    <h1 class="box-title">Reclamation edit</h1>
    </div>

    {{ form_start(edit_form) }}
    <div class="box-body">
        {{ form_widget(edit_form) }}
        </div>
        <div class="box-footer">
        <input type="submit" value="Edit" class="btn btn-info pull-right" />
        </div>
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('reclamation_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <div class="box-footer">
                <input type="submit" value="Delete" class="btn btn-danger">
                </div>
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
