{% extends 'baseAdmin.html.twig' %}

{% block pagecontent %}
    <h1>Reclamation</h1>

    <table class="table table-striped bring-up nth-2-center">
        <tbody>
            <tr>
                <th>ID</th>
                <td>{{ reclamation.id }}</td>
            </tr>
            <tr>
                <th>Contenu</th>
                <td>{{ reclamation.contenu }}</td>
            </tr>
            <tr>
                <th>Lieu</th>
                <td>{{ reclamation.lieu }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if reclamation.date %}{{ reclamation.date|date('Y-m-d') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('reclamation_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('reclamation_edit', { 'id': reclamation.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
