{% extends 'baseAdmin.html.twig' %}

{# {% block stylesheets %}
  <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
  <script src="{{ asset('js/jquery.min.js') }}"></script>
  <script src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %} #}

{% block pagecontent %}
    <h1>Users list</h1>
     <div class="box">
    <div class="box-header">
        <h3 class="box-title">List des agent</h3>
      </div>
      <div class="box-body">
    <table id="agenttable" class="table table-striped bring-up nth-2-center">
        <thead>
            <tr>
                <th>ID</th>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Adresse</th>
                <th>Cin</th>
                <th>Tel</th>
                <th>Role</th>
                <th>Actions</th>
                
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="{{ path('user_show', { 'id': user['user'].id }) }}">{{ user['user'].id }}</a></td>
                <td>{{ user['user'].matricule }}</td>
                <td>{{ user['user'].nom }}</td>
                <td>{{ user['user'].prenom }}</td>
                <td>{{ user['user'].adresse }}</td>
                <td>{{ user['user'].cin }}</td>
                <td>{{ user['user'].tel }}</td>
                <td>{{ user['role'][0] }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('user_show', { 'id': user['user'].id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('user_edit', { 'id': user['user'].id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('user_new') }}">Create a new user</a>
        </li>
    </ul>
    </div>
    </div>
    {% block ownpagejs %}
 <script>
 $(function () {
    $('#agenttable').DataTable({
      'paging'      : true,
      'lengthChange': true,
      'searching'   : true,
      'ordering'    : true,
      'info'        : true,
      'autoWidth'   : true
    })
  })
 </script>
 {% endblock %}
{% endblock %}
